<div class="row titlerow">
	<p class="title">
		Tracks
	</p>
	<div class="actions">
		<button ng-click="goto('tracks/new','')" class="half">New Track</button>
		<button ng-click="export()" ng-disabled="export_clicked" class="half">Export</button>
	</div>
	<input type="text" ng-model="export_string" ng-if="export_string.length > 0">
</div>
<div ng-repeat="track in tracks.tracks | orderBy:'count':true" class="row trackrow" ng-class="{overdue: tracks.is_task_overdue(track.id)}">
	<p class="leadnum">
		{{track.count}}
	</p>
	<p class="title" ng-bind="track.description"></p>
	<div ng-if="tracks.is_task_overdue(track.id)">
		<p>You have broken your {{track.count}} day streak :(</p>
	</div>
	<div ng-if="!tracks.is_task_overdue(track.id)">
		<p ng-if="tracks.is_done_today(track.id)">Great job! You are on a {{track.count}} day streak!</p>
	</div>
	<div class="actions">
		<button ng-disabled="tracks.is_done_today(track.id) || tracks.is_task_overdue(track.id)" ng-click="tracks.task_complete(track.id)" ng-bind="button_status(track.id)" class="half"></button>

		<button ng-click="goto('/tracks/edit/',track.id)" class="half">Edit</button>
	</div>
</div>
<div class="row titlerow">
	<p class="title">
		Stats
	</p>
</div>
<div class="row trackrow">
	<p class="leadnum">
		{{tracks.stats().tracks}}
	</p>
	<p class="title">
		Trackr<span ng-if="tracks.stats().tracks > 1">'s</span>
	</p>
</div>
<div class="row trackrow">
	<p class="leadnum">
		{{ tracks.stats().days }}
	</p>
	<p class="title">
		Completed Task<span ng-if="tracks.stats().days > 1">s</span> (All Time)
	</p>
</div>